.container {
  display: flex;
  border: 1px solid #cbd5e0;
  height: 16rem;
  width: 100%;
}

.container_left {
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.resizer {
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100%;
  width: 2px;
}

.container_right {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}
